<h2>Demo#index</h2>
<p>Find me in app/views/demo/index.html.erb</p>

<form>
  <p>
    <input type="button" id="open" value="表示" onclick="doOpen()" />
    <input type="button" id="close" value="削除" onclick="doClose()" />
  </p>
</form>



